.contenedor-login {
    display: block;
    width: 30%;
    background: #fff;
    border-radius: 10px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    overflow: hidden;
    padding: 55px 55px 33px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    font-family: Poppins-Bold, sans-serif;
    font-size: 30px;
    color: hsl(0deg 1% 26%);
    line-height: 1.2;
    text-align: center;
}

.btns-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.btns-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-input {
    border-radius: 18px;
    padding: 16px;
    border: unset;
    background: hsl(0deg 0% 100% / 0%);
    text-align: center;
    font-size: 15px;
    box-shadow: 1px 2px 2px 0px hsl(219deg 54% 64% / 36%);
    outline: none;
    width: 80%;
}

.boton {
    border: unset;
    width: 60%;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 16px;
    cursor: pointer;
    text-transform: uppercase;
    background: hsl(238deg 4% 71% / 10%);
}

.boton:hover,
.buscador:hover {
    box-shadow: 0px 0px 16px 2px hsl(219deg 98% 48% / 36%);
    transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
}
.select {
    cursor: pointer;
    padding: 10px 15px;
    outline: none;
    border: none;
    border-radius: 25px;
    text-align-last: center;
    background: hsl(0deg 0% 100% / 0%);
    font-size: 15px;
    box-shadow: 1px 2px 2px 0px hsl(219deg 54% 64% / 36%);
    width: 86%;
}

.select:hover,
.select:focus {
    color: #000000;
    background: #c0e4f1;
}

.mensaje-error {
    margin-bottom: 16px;
    color: red;
    font-size: 1.8vh;
}

.info-registro-extra {
    width: 100%;
    text-align-last: center;
}

.desplegable {
    display: flex;
    flex-direction: row;
    position: relative;
}

.opciones-desplegables {
    display: none;
    position: relative;
    background: hsl(219deg 54% 64% / 36%);
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 0;
    right: 9vh;
    top: 4vh;
}

.desplegable:hover .opciones-desplegables {
    display: block;
}

.imgPerfil {
    width: 40px;
    border: solid;
    border-radius: 100px;
}

.opcion-desplegable {
    border: unset;
    cursor: pointer;
    text-transform: uppercase;
    background: unset;
    margin-bottom: 10px;
    margin-top: 16px;
}

.menu-container {
    display: none;
    position: relative;
    margin-bottom: 20px;
    background: #ecf0f1;
    height: 11vh;
}

.menu {
    height: 100%;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu li {
    padding: 10px 0;
    font-size: 22px;
    margin: 16px;
}

.contenedor-perfil {
    position: relative;
    left: 8%;
    top: -8.5vh;
    width: 8%;
}

.btn-menu {
    border: unset;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-menu:hover {
    text-decoration-line: underline;
    text-shadow: 0px 0px 2px #35ccefb0;
}

.btn-perfil:hover {
    text-decoration-line: underline;
    text-shadow: 0px 0px 2px #35ccefb0;
}
.btn-perfil {
    border: unset;
    display: flex;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    top: 5px;
}

.contenedor-img {
    margin-right: 10px;
    top: -10px;
    position: relative;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

.buscador {
    width: 20%;
    padding: 10px;
    outline: none;
    font-size: 15px;
    border-width: 0px;
    border-color: #fdfdfd;
    background-color: #fdfbfb;
    color: #5c5f5f;
    border-style: hidden;
    border-radius: 20px;
    box-shadow: 1px 1px 4px rgba(131, 126, 126, 0.6);
}

.mensaje-bienvenida {
    text-transform: uppercase;
    font-weight: normal;
}

.mensaje-tareas-realizar,
.mensaje-entregas,
.titulo-tarea {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
}

.btn-buscar {
    width: 8%;
    margin-left: 10px;
    box-shadow: 0px 0px 6px 1px hsl(219deg 98% 48% / 36%);
    background: #c5e6f1;
}

.btn-detalles-alumno,
.btn-detalles-tarea,
.btn-detalles-entrega-pendiente {
    color: blue;
    font-family: Poppins-Bold, sans-serif;
    text-align: center;
}

.btn-detalles-alumno:hover,
.btn-detalles-tarea:hover,
.btn-detalles-entrega-pendiente:hover {
    color: hsl(225deg 77% 49%);
    cursor: pointer;
    text-decoration-line: underline;
}

.audio {
    padding: 20px;
}

.audio:hover {
    cursor: pointer;
    border: solid blue;
}

.no-hay-entregas {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    margin-top: 12vh;
    text-align: center;
}

.entrega-descripcion {
    font-weight: 500;
    font-size: 20px;
    margin-top: 16px;
}

.btn-entrega {
    width: 19%;
    border: solid;
    border-width: 1px;
    border-color: hsl(195deg 30% 78%);
    margin: 10px;
}

.text-area {
    border-radius: 9px;
    background: hsl(0deg 0% 100% / 0%);
    width: 80%;
}

.label {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 17px;
}

.seleccionar-audio {
    font-family: Poppins-Bold, sans-serif;
    font-size: 20px;
    color: hsl(0deg 1% 26%);
    line-height: 1.2;
    margin-top: 16px;
    margin-bottom: 16px;
}
